{% extends 'base.html.twig' %}

{% block body %}
    <div class="main">
        <div class="main-inner">
            <div class="content">
                <div class="hero-image">
                    <div class="hero-image-inner" style="background-image: url('{{asset('img/header/bg_5.jpg')}}');">
                        <div class="hero-image-content">
                            <div class="container">
                                <h1>Mos e lini makinen tuaj ne garazhd</h1>
                                <p>Create your own directory website by using Superlist template
                                    <br>
                                    incorporating all features of modern directory website.</p>

                            </div>
                            <!-- /.container -->
                        </div>
                        <!-- /.hero-image-content -->

                        <div class="hero-image-form-wrapper">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-4 col-sm-offset-8 col-lg-4 col-lg-offset-7">
                                        <form method="get" action="?">
                                            <h2>Kalkuloni sa mund te fitoni</h2>

                                            <div class="hero-image-input form-group">
                                                <select class="form-control" title="Marka">
                                                    <option>Bronx</option>
                                                    <option>Brooklyn</option>
                                                    <option>Manhattan</option>
                                                    <option>Staten Island</option>
                                                    <option>Queens</option>
                                                </select>
                                            </div>
                                            <!-- /.form-group -->

                                            <div class="hero-image-input form-group">
                                                <select class="form-control" title="Modeli">
                                                    <option value="">Automotive</option>
                                                    <option value="">Jobs</option>
                                                    <option value="">Nightlife</option>
                                                    <option value="">Services</option>
                                                </select>
                                            </div>

                                            <div class="hero-image-input form-group">
                                                <select class="form-control" title="Viti i prodhimit">
                                                    <option value="">Automotive</option>
                                                    <option value="">Jobs</option>
                                                    <option value="">Nightlife</option>
                                                    <option value="">Services</option>
                                                </select>
                                            </div>
                                            <div class="col-4">
                                                <h2 class="text-center">4500 euros</h2>
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-block">Jep makinen tende</button>
                                        </form>
                                    </div>

                                    <!-- /.col-* -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.container -->
                        </div>
                        <!-- /.hero-image-form-wrapper -->
                    </div>
                    <!-- /.hero-image-inner -->
                </div>
                <div class="container mobile-form">
                    <div class="row">
                        <div class="col-lg-4">
                            <form method="get" action="?">
                                <h2>Kalkuloni sa mund te fitoni</h2>

                                <div class="hero-image-input form-group">
                                    <select class="form-control" title="Marka">
                                        <option>Bronx</option>
                                        <option>Brooklyn</option>
                                        <option>Manhattan</option>
                                        <option>Staten Island</option>
                                        <option>Queens</option>
                                    </select>
                                </div>
                                <!-- /.form-group -->

                                <div class="hero-image-input form-group">
                                    <select class="form-control" title="Modeli">
                                        <option value="">Automotive</option>
                                        <option value="">Jobs</option>
                                        <option value="">Nightlife</option>
                                        <option value="">Services</option>
                                    </select>
                                </div>

                                <div class="hero-image-input form-group">
                                    <select class="form-control" title="Viti i prodhimit">
                                        <option value="">Automotive</option>
                                        <option value="">Jobs</option>
                                        <option value="">Nightlife</option>
                                        <option value="">Services</option>
                                    </select>
                                </div>

                                <h2>3400 euros</h2>
                                <!-- /.form-group -->

                                <button type="submit" class="btn btn-primary btn-block">Search</button>
                            </form>
                        </div>
                    </div>
                    <!-- /.col-* -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
