{% extends 'base.html.twig' %}
{% block body %}
  <div class="calendar"></div>
{% endblock %}
{% block style %}
  <link href="{{asset('libraries/pignose/css/pignose.calendar.min.css')}}" rel="stylesheet" type="text/css">
{% endblock %}
