{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
  <div class="main">
    <div class="main-inner" style="padding:80px 0px">
      <div class="container">
        <div class="content">
          <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
          {% if targetUrl %}
            <p>
              <a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a>
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock fos_user_content %}
