<div class="col-sm-12">
  <div class="background-white p30">
    <div class="row text-center">
      <div class="col-sm-3">
        <div class="user user-lg">
          <a href="#"><img src="{{asset('img/tmp/agent-2.jpg')}}" alt=""></a>
          <p>Rudi thoma</p>
        </div>
      </div>
      <div class="col-sm-2">
        <p>Volkswagen Golf</br>
        Nga
        <strong>11/05/2017</strong>
        <br>
        Deri me
        <strong>12/05/2017</strong>
        <br>
      </div>
      <div class="col-sm-4">
        <p>
          <strong>60 euro</strong>
        </p>
        <p>50 euro per ju</p>
      </div>
      <div class="col-sm-3"><br>
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-sign-in"></i>
          Pranoje qerane
        </button>
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-sign-in"></i>
          Refuzoj
        </button>
      </div>
    </div>
    <!-- /.cards-system -->
  </div>
  <hr>

</div>
