<div class="col-sm-12">
  <div class="background-white p30 mb50">

    <div class=" row text-center">
      <h2>Nuk keni kerkuar asnje makine per qera.</h2>
      <a href="#">Kerko makinen tende dhe behu gati per pushime</a>
    </div>

    <!-- /.cards-system -->
  </div>

</div>
