<div class="row">
  <div class="col-sm-12 col-lg-6">
    <div class="row">
      <div class="col-sm-6">
        <div class="statusbox">
          <h2>Fitimet tuaja</h2>
          <div class="statusbox-content">
            <strong>{{earnings}}</strong>
            <span>Updated 27/04/2015</span>
          </div>
          <!-- /.statusbox-content -->
        </div>
        <!-- /.statusbox -->
      </div>

      <div class="col-sm-6">
        <div class="statusbox">
          <h2>Rezervimet e kryera</h2>
          <div class="statusbox-content">
            <strong>{{reservations}}</strong>
            <span>Updated 27/04/2015</span>
          </div>
          <!-- /.statusbox-content -->
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.col-* -->
  <div class="col-sm-12 col-lg-6">
    <div class="row">
      <div class="col-sm-6">
        <div class="statusbox">
          <h2>Qerate e kryera nga ju</h2>
          <div class="statusbox-content">
            <strong>{{rents}}</strong>
            <span>Updated 27/04/2015</span>
          </div>
          <!-- /.statusbox-content -->
        </div>
        <!-- /.statusbox -->
      </div>
      <!-- /.col-* -->

      <div class="col-sm-6">
        <div class="statusbox">
          <h2>Pagesat tuaja</h2>
          <div class="statusbox-content">
            <strong>{{spendings}}</strong>
            <span>Updated 27/04/2015</span>
          </div>
          <!-- /.statusbox-content -->
        </div>
        <!-- /.statusbox -->
      </div>
      <!-- /.col-* -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.col-* -->
</div>
<!-- /.row -->
