<div class="row">
    <div class="col-sm-12 col-lg-6">
        <div class="row">
            <div class="col-sm-6">
                <div class="statusbox">
                    <h2>Balance</h2>
                    <div class="statusbox-content">
                        <strong>$25,000</strong>
                        <span>Updated 27/04/2015</span>
                    </div>
                    <!-- /.statusbox-content -->
                    <div class="statusbox-actions">
                        <a href="#">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-bar-chart"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-share-alt"></i>
                        </a>
                    </div>
                    <!-- /.statusbox-actions -->
                </div>
                <!-- /.statusbox -->
            </div>

            <div class="col-sm-6">
                <div class="statusbox">
                    <h2>Progress</h2>
                    <div class="statusbox-content">
                        <strong>$13,200</strong>
                        <span>Updated 27/04/2015</span>
                    </div>
                    <!-- /.statusbox-content -->

                    <div class="statusbox-actions">
                        <a href="#">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-bar-chart"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-share-alt"></i>
                        </a>
                    </div>
                    <!-- /.statusbox-actions -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.col-* -->
    <div class="col-sm-12 col-lg-6">
        <div class="row">
            <div class="col-sm-6">
                <div class="statusbox">
                    <h2>Payments</h2>
                    <div class="statusbox-content">
                        <strong>$14,800</strong>
                        <span>Updated 27/04/2015</span>
                    </div>
                    <!-- /.statusbox-content -->

                    <div class="statusbox-actions">
                        <a href="#">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-bar-chart"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-share-alt"></i>
                        </a>
                    </div>
                    <!-- /.statusbox-actions -->
                </div>
                <!-- /.statusbox -->
            </div>
            <!-- /.col-* -->

            <div class="col-sm-6">
                <div class="statusbox">
                    <h2>Avg. Salary</h2>
                    <div class="statusbox-content">
                        <strong>$12,800</strong>
                        <span>Updated 27/04/2015</span>
                    </div>
                    <!-- /.statusbox-content -->

                    <div class="statusbox-actions">
                        <a href="#">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-bar-chart"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-share-alt"></i>
                        </a>
                    </div>
                    <!-- /.statusbox-actions -->
                </div>
                <!-- /.statusbox -->
            </div>
            <!-- /.col-* -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.col-* -->
</div>
<!-- /.row -->
