{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="main">
        <div class="main-inner" style="padding : 80px 0px">
            <div class="container">
                <div class="content">

                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4">
                            <div class="page-title">
                                <h1>Login</h1>
                            </div>
                            <!-- /.page-title -->

                            <form method="post" action="?">
                                <div class="form-group">
                                    <label for="login-form-email">E-mail</label>
                                    <input type="email" class="form-control" name="email" id="login-form-email">
                                </div>
                                <!-- /.form-group -->

                                <div class="form-group">
                                    <label for="login-form-password">Password</label>
                                    <input type="password" class="form-control" name="password" id="login-form-password">
                                </div>
                                <!-- /.form-group -->

                                <button type="submit" class="btn btn-primary pull-right">Login</button>
                            </form>
                        </div>
                        <!-- /.col-sm-4 -->
                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.content -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.main-inner -->
    </div>
    <!-- /.main -->

{% endblock %}
